body {
    background-color: antiquewhite;
    font-size: 2.1em;
}
h1{
    color: rgb(25, 25, 27);
}
#intro {
    font-size: 1.0em;
    font-weight: bolder;
    color: rgb(3, 3, 83);
}
#CountdownDisplay {
    color: rgb(219, 0, 0);
    font-style: italic;
    font-weight: bold;
}
.subtitle {
    font-size: 1.5em;
    color: rgb(7, 7, 7);
}