body {
    background-color: rgb(12, 15, 202);
    font-size: 2.1em;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 3.0em;
}
#start{
    background-color: rgb(223, 7, 7);
}
#stop{
    background-color: rgb(17, 153, 13);
}
.Timer {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    color: blueviolet;
}